
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}


.rake-container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;

  display: flex;
  flex-direction: column;


  padding: 0;
}


.header {
  width: 153%;
  padding: 14px 24px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}


.filters {
  width: 153%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 24px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}


.date-group {
  display: flex;
  gap: 32px;
}

.date-group div {
  display: flex;
  flex-direction: column;
}

.date-group label {
  font-size: 12px;
  margin-bottom: 4px;
}

.date-group input {
  height: 32px;
  min-width: 180px;
  padding: 4px 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.button-group {
  display: flex;
  gap: 12px;
}

.button-group button {
  height: 34px;
  min-width: 130px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button.search {
  background: #198754;
  color: #fff;
}

button.hide {
  background: #0dcaf0;
  color: #000;
}

button.download {
  background: #198754;
  color: #fff;
}


.table-section {
  width: 155%;
  padding: 16px 24px;
  overflow-x: auto;
  border-bottom: 1px solid #e0e0e0;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.table-section th,
.table-section td {
  border: 1px solid #ddd;
  padding: 8px 10px;
  text-align: center;
}

.table-section th {
  background: #fafafa;
  font-weight: 600;
}


.chart-section {
  flex: 1;                      
  width: 100%;
  padding: 16px 10px 0px 0px;
  background: #ffffff;
}


.chart-section .js-plotly-plot {
  width: 100% !important;
  height: 100% !important;
}


.js-plotly-plot .legend {
  transform: translateY(-6px);
}


@media (max-width: 1024px) {
  .filters {
    flex-wrap: wrap;
    gap: 16px;
  }

  .button-group {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .date-group {
    flex-direction: column;
  }
}





/* html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  overflow-x: hidden;
}


.rake-container {
  width: 10vh;
  min-height: 100vh;
  background: #ffffff;

  display: flex;
  flex-direction: column;


  padding: 0;
}


.header {
  width: 153%;
  padding: 14px 24px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}


.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 24px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}


.date-group {
  display: flex;
  gap: 32px;
}

.date-group div {
  display: flex;
  flex-direction: column;
}

.date-group label {
  font-size: 12px;
  margin-bottom: 4px;
}

.date-group input {
  height: 32px;
  min-width: 180px;
  padding: 4px 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.button-group {
  display: flex;
  gap: 12px;
}

.button-group button {
  height: 34px;
  min-width: 130px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button.search {
  background: #198754;
  color: #fff;
}

button.hide {
  background: #0dcaf0;
  color: #000;
}

button.download {
  background: #198754;
  color: #fff;
}


.table-section {
  width: 100%;
  padding: 16px 24px;
  overflow-x: auto;
  border-bottom: 1px solid #e0e0e0;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.table-section th,
.table-section td {
  border: 1px solid #ddd;
  padding: 8px 10px;
  text-align: center;
}

.table-section th {
  background: #fafafa;
  font-weight: 600;
}


.chart-section {
  flex: 1;
  width: 100%;
  background: #ffffff;
}



.chart-section .js-plotly-plot {
  width: 100% !important;
  height: 100% !important;
}

 
.js-plotly-plot .legend {
  transform: translateY(-6px);
}
 

@media (max-width: 1024px) {
  .filters {
    flex-wrap: wrap;
    gap: 16px;
  }

  .button-group {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .date-group {
    flex-direction: column;
  }
} */